@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
  --font-inter: "Inter-Regular";
  --font-inter-bold: "Inter-Bold";
  --font-inter-italic: "Inter-Italic";
  --font-inter-bold-italic: "Inter-BoldItalic";
  --font-inter-medium: "Inter-Medium";
  --font-inter-semibold: "Inter-SemiBold";
}
